<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/6a79c99c9a.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">

        <title>Best shop ever</title>
    </head>
    <body>
        <header>
            <nav class="dws-menu">
                <ul>
                    <li><a href="main_page.html"><i class="fas fa-campground"></i>Menu</a></li>
                    <li><a href="all_products.html"><i class="fas fa-shopping-cart"></i>All products</a></li>
                    <li><a href="edit_product.html"><i class="far fa-arrow-alt-circle-up"></i>Edit product</a></li>
                    <li><a href="buy_product.html"><i class="far fa-credit-card"></i>Buy product</a></li>
                    <li><a href="#"><i class="fas fa-lock"></i>Login</a></li>
                </ul>
            </nav>
        </header>
    </body>  
</html>